/* Testing */

div {
  border: 1px solid lime;
}


/* Layout */

.layout--div {
}

#left {
}

#right {
}

.player--div {
}


/* Headers */

.header--div {
}

.header {
}


/* Hand Cards */

.card--rack {
}

.card--div {
  padding: 0px;
  margin: 2%;
  display: inline-block;
}

.card--img {
  display: block;
}


/* Hand Scores */

.score--div {
}

.score {
}


/* Deck */

.deck--div {
}

.deck--img {
}


/* Goal Score */

#goal--score--div {
}

#goal--score {
}