body {
  font-size: 0em;
  border: 1px solid pink;
  margin: 0px;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 24px;
}

div {
  border: 1px solid lime;
  box-sizing: border-box;
  vertical-align: top;
}

.card--div {
  padding: 0px;
  margin: 2%;
  display: inline-block;
  border: 1px solid red;
}

.card--img {
  display: block;
}

.layout--div {
  display: inline-block;
  margin: 0px;
}

#left {
  width: 80%;
}

#right {
  width: 20%;
}

#right img {
  margin: auto;
}

.score {
  text-align: center;
}

.card--rack {
  display: inline-block;
  width: 80%;
}

#left .score--div {
  display: inline-block;
  width: 20%;
}